---
import BaseHead from '../components/BaseHead.astro';
export interface Props { seo?: any; }
const { seo } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
<head><BaseHead {...seo} /></head>
<body>
  <slot name="header" />
  <main id="content"><slot /></main>
  <slot name="footer" />
</body>
</html>
